table.colormacro, table.colorgradient {
  border: 1px solid black;
  border-collapse: collapse;
}

table.colormacro thead th, table.colorgradient thead th {
  border: 1px solid black;
  font-size: 15px;
  font-weight: bold;
}

table.colormacro tbody.colorlist td, table.colorgradient td {
  font-weight: bold;
}

table.colormacro td, table.colorgradient td {
  text-align: center;
  padding: 10px;
}

table.colormacro td div, table.colorgradient td div {
  width: 120px;
  text-align: center;
}

.colormacro_top {

  padding: 5px;
  background-color: #e0dfdf;

}

.colorgradient {
  height: 80px;
}

